.userListDiv {
  height: calc(100vh - 40px);
  width: calc(100vw - 60px);
  margin-top: auto;
  margin-left: auto;
  text-align: center;
  overflow: scroll;
  background: url("./phoneBlue1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}
.userListDiv .title {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  padding-top: 10px;
}
.userListDiv .title h1{
  border-bottom:2px solid var(--mainColor);
  width: fit-content;
  padding: 0 20px;
  margin: auto;
}

.users {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
.signInErr {
  height: 100vh;
  width: calc(100vw - 60px);
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.signInErr a{
  text-decoration: none;
  color: var(--mainColor);
  transition: .4s;
}
.signInErr a:hover{
letter-spacing: 3px;

color: var(--mainBlackColor);
}
