:root {
  /* --mainColor: #38d39f;
  --mainColorLower: #32be8f; */
  --mainColor: #88d5fc;
  --mainColorLower: #b6e4fb;
	--mainColor2:#b6e4fb;
	--mainColorBlack:#313b42;
	--mainColorGrey:#999;
	--mainColorGrey2:#d9d9d9;
}
* {
  padding: 0;
  margin: 0;
  clear: both;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
}
