.userDiv {
  height: calc(100vh - 40px);
  width: calc(100vw - 60px);
  margin-left: auto;
  margin-top: auto;
  overflow: hidden scroll;
}
.userDiv .title {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  padding-top: 10px;
}
.userDiv .title h1 {
  border-bottom: 2px solid var(--mainColor);
  width: fit-content;
  padding: 0 20px;
  margin: auto;
}
.userDiv .title .btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  font-size: 15px;
  font-weight: 800;
  margin: 10px;
}
.userInfo {
  height: fit-content;
  width: 100%;
  margin: 10px;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: flex-start;
}
.info {
  width: 100%;
}
.userDiv .userInfo .info h3 {
  font-weight: 500;
}
.userDiv .userInfo .info h3 u {
  font-size: 1.2em;
  font-weight: 600;
}
.userDiv .userInfo .info h3 p {
  font-size: 0.9em;
  font-weight: 500;
  text-align: justify;
}
.userInfo .info .greeting {
  text-align: center;
  width: fit-content;
  margin: 20px auto;
  border-top: 2px solid var(--mainColor);
}
@media screen and (max-width: 700px) {
  .userDiv {
    font-size: 10px;
  }
  .userInfo {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
  .userDiv .userInfo .info h3 p {
    width: 90%;
  }
  .userDiv .title .btn {
    transform: scale(0.5);
    margin: 0;
  }
}
